body {
  font-family: "Andika New Basic", sans-serif;
  background-color: black;
  color: white;
}

table {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

form {
  text-align: center;
}

.todo {
  padding-bottom: 100px;
  border-radius: 10px;
  border: 1px;
}

.todohead {
  width: 80%;
}

input.checkbox {
  width: 25px;
  height: 25px;
}

.checked {
  text-decoration: line-through rgb(255, 0, 0);
  text-decoration-thickness: 0.25em;
}
