body {
  font-family: "Andika New Basic", sans-serif;
  background-color: black;
  color: white;
}

table {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  margin-top: 10px;
}
